<p data-sly-test="${properties.type == 'phonenumber' && properties.number}">Phone Number: ${properties.number}</p>
<p data-sly-test="${properties.type == 'address' && properties.street}">Street: ${properties.street}</p>
<p data-sly-test="${properties.type == 'address' && properties.city}">City: ${properties.city}</p>
<p data-sly-test="${properties.type == 'address' && properties.state}">State: ${properties.state}</p>
<p data-sly-test="${properties.type == 'gender' && properties.gender}">Gender: ${properties.gender}</p>
<p data-sly-test="${properties.type == 'languages' && properties.english}">Language: ${properties.english}</p>
<p data-sly-test="${properties.type == 'languages' && properties.marathi}">Language: ${properties.marathi}</p>
<p data-sly-test="${properties.type == 'languages' && properties.hindi}">Language: ${properties.hindi}</p>