
<section class="services-area section-gap">				
				<div class="container" data-sly-use.services="${'com.ugamsProj.core.models.Service'}">
               		 <div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<span class="lnr lnr-pie-chart"></span>
								<a href="#"><h4>${services.serviceTitle} </h4></a> 			
								<p>
									“${services.serviceText}” 

								</p>
							</div>
					  </div>
                   </div>
                 </div>
</section>
